body {
  background-color: rgba(0, 250, 154, 0.5);
}

header {
  display:block;
}

h1 {
  font-family: 'Lobster', cursive;
  color: salmon;
  font-size: x-large
}

/*1. A custom Google font for highlights*/
h2, b, strong, i, em, mark {
  font-family: 'Lobster', cursive;
  color: salmon
}

/*2. A specified standard san-serif web font for data (such as Arial, Verdana, or Helvetica)*/
data {
  font-family: 'Arial', sans-serif;
  color:blue
}

/*3. A specified standard serif web font for text (such as Georgia, Times, etc.)*/
text {
  font-family: 'Times', serif;
  color: black
}

ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

img.medium {
  height: 451px;
  width: 676px;
}